@using RainingCatsAndDogsOnWeb.Common
@using RainingCatsAndDogsOnWeb.Web.ViewModels.Home
@model IndexViewModel
@{
    ViewData["Title"] = "Index";    
}

<h2>@this.ViewData["Title"]</h2>
<form class="d-flex" role="search" asp-controller="SearchAds" asp-action="Index" method="get">
    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="SearchString"/>
    <button class="btn btn-outline-success" type="submit">Search</button>
</form>

<div class="center">
    <h1 class="display-4">Welcome to @GlobalConstants.SystemName</h1>
    <h2 class="align-self-center">Best pets community worldwide</h2>
    <div>
        @foreach (var ad in Model.RandomAds)
        {
            <div class="media">
                <img class="align-self-center mr-3" src="@ad.ImageUrl">
                <div class="media-body">
                    <p class="mb-0">Location: @ad.Location</p>
                    <p class="mb-0">Price: @ad.Price лв.</p>
                    <p class="mb-0">Category: @ad.CategoryName</p>
                    <a asp-controller="Ads" asp-action="DetailsById" asp-route-id="@ad.Id">Go to ad</a>
                </div>
            </div>
        }
    </div>
</div>


