@using RainingCatsAndDogsOnWeb.Web.ViewModels.Categories
@model IEnumerable<PostInCategoryViewModel>
@{
    this.ViewData["Title"] = $"{Model.Count()} posts found";
}

<h1 class="text-center">@this.ViewData["Title"]</h1>
<br>
<div class="text-center row">
    @foreach (var post in this.Model)
    {
        <div class="card col-4" style="width: 20rem;">
            <img class="card-img-top" style="width: 18rem;"
             src="@post.PostHeaderImage">
            <div class="card-body">
                <h5 class="card-title mt-1">
                    <a class="badge bg-secondary text-decoration-none link-light" asp-controller="Posts" asp-action="ById" asp-route-id="@post.Id">@post.Title</a>
                    @post.Title
                </h5>
                <p class="mb-0">@post.ShortContent</p>
            </div>
        </div>
    }
</div>

