@using RainingCatsAndDogsOnWeb.Common
<!DOCTYPE html>

<html lang="en-US">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" media="all" href="https://www.claringtonvet.ca/wp-content/themes/patchwork-resp/style.css?ver=1.0-661" />
    <link rel="shortcut icon" href="https://www.claringtonvet.ca/wp-content/themes/patchwork-resp/favicon.ico" type="image/x-icon" />
    <title>@GlobalConstants.SystemName</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/bootstrap.css">
    <link href="~/lib/font-awesome/css/all.css" rel="stylesheet" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/styles.css" asp-append-version="true" />
</head>

<body>
    <header>
        <nav class="navbar">
            <partial name="_LoginPartial" />
            <div id="navigation">
                <nav id="access" role="navigation">
                    <div class="belt">
                        <ul id="sticky_menu" class="clearfix">
                            <li class="nav-item">
                                <a asp-area="" asp-controller="Home" asp-action="Index">HOME</a><button class="mobileOnly down-mcaret">
                                    <i class="fa fa-chevron-down"></i>
                            </li>
                            </button>
                            @* @if (this.User.IsInRole("Administrator"))
                            {*@
                            <li class="nav-item menu-item-has-children has_children">
                                <a class="dropbtn">ADMIN</a>
                                <div class="dropdown-content">
                                    <form id="myForm" asp-controller="AdsCollector" asp-action="LoadAds" method="post">
                                        <a asp-controller="Admin" asp-action="CreateRole">Create a Role</a>
                                        <a asp-controller="Admin" asp-action="CreateAdminWithRole">Create Admin</a>
                                        <a id="adsCollector" asp-controller="AdsCollector" asp-action="LoadAds">Ads Collector</a>
                                    </form>
                                </div>
                            </li>
                              
                            @if (this.User.Identity.IsAuthenticated)
                            {
                                <li>
                                    <a asp-area="" asp-controller="Ads" asp-action="Create">POST NEW AD</a><button class="mobileOnly down-mcaret">
                                        <i class="fa fa-chevron-down"></i>
                                    </button>
                                </li>
                                <li>
                                    <a asp-area="" asp-controller="Ads" asp-action="AllAds">
                                        ALL
                                        ADS
                                    </a><button class="mobileOnly down-mcaret">
                                        <i class="fa fa-chevron-down"></i>
                                    </button>
                                </li>
                                <li>
                                    <a asp-area="" asp-controller="Ads" asp-action="MyAds">
                                        MY
                                        ADS
                                    </a><button class="mobileOnly down-mcaret">
                                        <i class="fa fa-chevron-down"></i>
                                    </button>
                                </li>
                                <li>
                                    <a asp-area="" asp-controller="Blog" asp-action="Default">
                                        BLOG
                                    </a><button class="mobileOnly down-mcaret">
                                        <i class="fa fa-chevron-down"></i>
                                    </button>
                                </li>
                            }
                            else
                            {
                                <li class="nav-item">
                                    <a asp-area="" asp-controller="Account" asp-action="Register">REGISTER</a><button class="mobileOnly down-mcaret">
                                        <i class="fa fa-chevron-down"></i>
                                    </button>
                                </li>
                                <li class="nav-item">
                                    <a asp-area="" asp-controller="Account" asp-action="Login">LOGIN</a><button class="mobileOnly down-mcaret">
                                        <i class="fa fa-chevron-down"></i>
                                    </button>
                                </li>
                            }
                        </ul>
                </nav>
            </div>
            </div>
            </div>
        </nav>
    </header>
    <div class="ToogleMenuOuter"></div>
    <partial name="_CookieConsentPartial" />
    <main role="main" class="pb-3">
        @this.RenderBody()
    </main>

</body>

<footer>
    <div class="container">
        <img id="footerImage" src="~/img/footer2.webp" class="container-fluid" />
        &copy; @DateTime.Now.Year - @GlobalConstants.SystemName - All right reserved
    </div>
</footer>
<script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js" asp-append-version="true"></script>
<script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.min.js" asp-append-version="true"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.min.js" asp-append-version="true"></script>
<script src="~/js/site.min.js" asp-append-version="true"></script>
@*<script>
    $(function () {
        $('.dropdown').hover(function () {
            $(this).addClass('open');
        },
            function () {
                $(this).removeClass('open');
            });
    });
</script>*@

<script>
        document.getElementById("adsCollector").addEventListener("click", function (e) {
            e.preventDefault();
           document.getElementById('myForm').submit();
    });
</script>

@await this.RenderSectionAsync("Scripts", required: false)
</html>





@*@using RainingCatsAndDogsOnWeb.Common
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@this.ViewData["Title"] - @GlobalConstants.SystemName</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/bootstrap.css">
    <link href="~/lib/font-awesome/css/all.css" rel="stylesheet" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg bg-light">
            <div class="container-fluid">

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">HOME</a>
                        </li>
                        @if (this.User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Ads" asp-action="Create">POST NEW AD</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Ads" asp-action="MyAds">MY ADS</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Ads" asp-action="AllAds">ALL ADS</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Blog" asp-action="Default">BLOG</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Learn">WHAT DO YOU KNOW ABOUT BREEDS</a>
                            </li>
                        }
                    </ul>

                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <partial name="_CookieConsentPartial" />
        <main role="main" class="pb-3">
            @this.RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; @DateTime.Now.Year - @GlobalConstants.SystemName - All right reserved
        </div>
    </footer>

    <img src="https://res.cloudinary.com/jerrick/image/upload/v1604537555/5fa34cd37b0c2b001c0ed286.jpg" asp-append-version="true" />
    <script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.min.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js" asp-append-version="true"></script>
    <script src="~/js/site.min.js" asp-append-version="true"></script>
    @await this.RenderSectionAsync("Scripts", required: false)
</body>
</html>*@
