@using RainingCatsAndDogsOnWeb.Web.ViewModels.Ads;
@model AdsListViewModel
@{
    this.ViewData["Title"] = "All Ads Page - Best pet exchange website worldwide";
    this.ViewData["Content"] = $"You can find your dream pet between {@Model.AdsCount} ads";
}

<br>
<br>
<br>
<br>
<br>

<h1 class="text-center">@ViewData["Content"]</h1>
<br>
<br>
<div class="container-fluid text-center">
    <div class="row row-cols-6 text-center">
        @foreach (var ad in this.Model.AllAds)
        {
            <div class="card shadow-sm mb-4">
                <img class="card-img-top img-fluid" style="width: 17.5rem;"
                 src="@ad.OriginalUrl" alt="@ad.Title">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title text-uppercase">@ad.Title</h5>
                    <p class="card-text text-muted">
                        <a href="https://www.google.com/maps/place/Bulgaria">
                            <i class="fa fa-map-marker" aria-hidden="true"></i>
                            <span>@ad.Location</span>
                        </a>
                    </p>
                    <p class="h4">Price: @ad.Price лв.</p>
                </div>
                <form class="input-group-sm" asp-route-id="@ad.Id" asp-controller="Ads" asp-action="DetailsById" method="post">
                    <input type="submit" value="Details" class="fs-6 btn btn-success mb-3 p-2" />
                </form>
            </div>
        }
    </div>
</div>




<hr />
<partial name="_PagingPartial" model="@Model" />

@*// ~images/ads/b9dab0f5-d77f-48da-9481-4cc6a120d552.jpg*@



