@using RainingCatsAndDogsOnWeb.Web.ViewModels.Ads;
@model AdsListViewModel
@{
    this.ViewData["Title"] = $"You can find your dream pet between {@Model.AdsCount} ads";
}

<br>
<div class="card">
    <h1 class="text-center">@this.ViewData["Title"]</h1>
</div>
<br>
<div class="text-center row">
    @foreach (var ad in this.Model.AllAds)
    {
        <div class="card-body" alt="Responsive image">
            <img class="rounded mx-auto d-block" style="width: 18rem;"
             src="@ad.ImageUrl" alt="@ad.Title">
            <div class="card-body">

                <h5 class="card-title">@ad.Title</h5>
                <p class="card-text">Location: @ad.Location</p>
                <p class="card-text">Price: @ad.Price лв.</p>
            </div>

            <form class="input-group-sm" asp-route-id="@ad.Id" asp-controller="Ads" asp-action="DetailsById" method="post">
                <input type="submit" value="Details" class="fs-6 btn btn-success mb-3 p-2" />
            </form>
        </div>
    }
</div>
<hr />
<partial name="_PagingPartial" model="@Model"/>

@*// ~images/ads/b9dab0f5-d77f-48da-9481-4cc6a120d552.jpg*@



