@using RainingCatsAndDogsOnWeb.Web.ViewModels.Ads
@model SingleAdViewModel

@{
    ViewData["Title"] = @Model.Title;
}

<div class="homes">
    <img src="@Model.ImageUrl" class="img-fluid w-100">
</div>

<div class="homes-content">
    <h3>@Model.Title</h3>
    <i class="fa fa-user" aria-hidden="true"></i>
    <p> Added by: @Model.AddedByUserFirstName @Model.AddedByUserLastName on @Model.CreatedOn.ToString("D")</p>
    <p class="homes-address mb-3">
        <a href="https://www.google.com/maps/place/Bulgaria">
            <i class="fa fa-map-marker" aria-hidden="true"></i>
            <span>@Model.Location</span>
        </a>
    </p>
    <i class="fa-solid fa-phone"></i>
    <span>@Model.PhoneNumber</span>
    
    <br>

    <p>@Model.Description</p>

    <ul class="homes-list clearfix">
        @if (User.Identity.Name == Model.AddedByUserUserName)
        {
            <li>
                <i class="fa fa-comments" aria-hidden="true"></i>
                <span>0 Comments</span>
            </li>
        }
        else
        {
            <li>
                <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                <span>0 Likes</span>
            </li>

            <li>
                <i class="fa fa-comments" aria-hidden="true"></i>
                <span>0 Comments</span>
            </li>
            <li>
                <button class="btn btn-block btn-primary"><i class="fa fa-thumbs-up">Like</i> </button>
            </li>
        }
       
    </ul>
    <div class="price-properties">
        <h3 class="title mt-3">
            <p>@Model.Price лв</p>
        </h3>
    </div>
   
</div>

