@using RainingCatsAndDogsOnWeb.Web.ViewModels.Ads
@using System.Security.Claims
@model SingleAdViewModel

@{
    ViewData["Title"] = @Model.Title;
}

<div class="mx-auto">
    <img src="@Model.ImageUrl" class="img-fluid w-100">
</div>

<div class="wrapper">
    <h3>@Model.Title</h3>

    <p> <i class="fa fa-user" aria-hidden="true"></i> Added by: @Model.AddedByUserFirstName @Model.AddedByUserLastName on @Model.CreatedOn.ToString("D")</p>
    <p class="homes-address mb-3">
        <a href="https://www.google.com/maps/place/Bulgaria">
            <i class="fa fa-map-marker" aria-hidden="true"></i>
            <span>@Model.Location</span>
        </a>
    </p>
    <div>
        <i class="fa-solid fa-phone"></i>
        <span>@Model.PhoneNumber</span>
    </div>
    <br>

    <div>
        <br>
        <span class="h5">Description: <i class="fa-solid fa-arrow-down-short-wide"></i></span>
        <p>@Model.Description</p>

    </div>

    <ul class="homes-list clearfix">
        @if (User.Identity.Name == Model.AddedByUserUserName)
        {
            <li>
                <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                <span id="likesCount">@Model.LikesCount Likes</span>
            </li>
            <li>
                <i class="fa fa-comments" aria-hidden="true"></i>
                <span>0 Comments</span>
            </li>
        }
        else
        {
            <li>
                <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                <span id="likesCount">@Model.LikesCount Likes</span>
            </li>

            <li>
                <i class="fa fa-comments" aria-hidden="true"></i>
                <span>0 Comments</span>
            </li>
            <br />
            <button class="btn btn-block btn-primary" id="btnLike" asp-controller="Likes" asp-action="Like"><i class="fa fa-thumbs-up">Like</i> </button>
        }

    </ul>
    <div class="price-properties">
        <h3 class="title mt-3">
        </h3>
        <p class="h3">Price: @Model.Price лв.</p>
    </div>

</div>

@section Scripts {
    <script>
        let buttonState = localStorage.getItem("buttonState");
      
        if (buttonState == "disabled") {
            $('#btnLike').prop('disabled', true);
        } else {
            $('#btnLike').click(function () {
                
                let likes = $('#likesCount').text();
                likes = parseInt(likes) + 1;
                localStorage.setItem("buttonState", "disabled");
                $('#btnLike').prop('disabled', true);

                let adid = @Model.Id;
                let data = { adid: adid, likesCount: likes }

                $('#likesCount').html(`${likes} Likes`);

                $.ajax({
                    type: "POST",
                    url: "/api/Likes",
                    data: JSON.stringify(data),
                    success: function (data) {
                        $('#likesCount').html(data.likes)
                    },
                    contentType: "application/json"
                });
            });
        }
    </script>
}


