@using RainingCatsAndDogsOnWeb.Web.ViewModels.Ads;
@model AdsListViewModel
@{
    this.ViewData["Title"] = $"You have {@Model.AdsCount} ads in total";
}

<h2 class="text-center">@ViewData["Title"]</h2>
<hr />

<div class="text-center row">
    @foreach (var ad in this.Model.AllAds)
    {
        <div class="card col-4" style="width: 20rem; ">
            <img class="card-img-top" style="width: 18rem;"
             src="~@ad.ImageUrl" alt="@ad.Title">
            <div class="card-body">

                <h4 class="card-title mt-1">@ad.Title</h4>
                <hr>
                <p class="mb-0 h6">Location: @ad.Location</p>
                <hr>
                <p class="mb-0 h6">Price: @ad.Price лв.</p>
                <hr>
                <p class="mb-0">Description: @ad.Description</p>
                <hr>
            </div>

            <form class="input-group-sm" id="deleteForm" asp-route-id="@ad.Id" asp-controller="Ads" asp-action="Edit" method="get">
                <button class="btn btn-success" type="submit">Edit</button>
            </form>
            <br>
            <form class="input-group-sm" id="deleteForm" asp-route-id="@ad.Id" asp-controller="Ads" asp-action="Delete">
            </form>
            <div>
                <button class="btn btn-danger" type="submit" data-bs-toggle="modal" data-bs-target="#modalDelete">Delete</button>
            </div>
        </div>
    }
</div>

<!-- Modal -->
<div class="modal fade" id="modalDelete" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Confirm delete</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete this ad ?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">No</button>
                <button type="button" class="btn btn-danger" onclick="editForm.submit()">Yes</button>
            </div>
        </div>
    </div>
</div>
