@using RainingCatsAndDogsOnWeb.Web.ViewModels.Ads;
@model AdsListViewModel
@{
    
    this.ViewData["Title"] = $"You can find your dream pet between {@Model.AdsCount} ads";
}

<h1>@this.ViewData["Title"]</h1>

<div class="row">
    @foreach (var ad in this.Model.AllAds)
    {
        <div class="row">
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <img src="@ad.ImageUrl" />
                    <div class="caption">
                        <h3>@ad.Title <a asp-action="DetailsById" asp-route-id=@ad.Id></a></h3>
                        <p>@ad.Location</p>
                        <p>@ad.Price</p>
                        <p>@ad.Description</p>
                        <p>Category</p>
                        <p>@ad.Category.Name</p>
                        <p><a asp-controller="Ads" asp-action="DetailsById" class="btn btn-primary" role="button" asp-route-id=@ad.Id>View Details</a></p>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
<hr />
<partial name="_PagingPartial" model="@Model"/>

@*// ~images/ads/b9dab0f5-d77f-48da-9481-4cc6a120d552.jpg*@



