@using RainingCatsAndDogsOnWeb.Web.ViewModels.Ads;
@model AdsListViewModel
@{
    this.ViewData["Title"] = $"You can find your dream pet between {@Model.AdsCount} ads";
}

<h1>@this.ViewData["Title"]</h1>

<div class="text-center row">
    @foreach (var ad in this.Model.AllAds)
    {
        <div class="card col-4" style="width: 20rem;">
            <img class="card-img-top" style="width: 18rem;"
             src="~/images/ads/1bd8aa5e-174d-4076-b036-3f07c1d6e723.jpg" alt="@ad.Title">
            <div class="card-body">

                <h5 class="card-title mt-1">@ad.Title</h5>
                <p class="mb-0">Location: @ad.Location</p>
                <p class="mb-0">Price: @ad.Price лв.</p>
            </div>

            <form class="input-group-sm" asp-route-id="@ad.Id" asp-controller="Ads" asp-action="DetailsById" method="post">
                <input type="submit" value="Details" class="fs-6 btn btn-success mb-3 p-2" />
            </form>
        </div>
    }
</div>
<hr />
<partial name="_PagingPartial" model="@Model"/>

@*// ~images/ads/b9dab0f5-d77f-48da-9481-4cc6a120d552.jpg*@



