@using RainingCatsAndDogsOnWeb.Web.ViewModels.Categories
@model CategoryViewModel

@{
    this.ViewData["Title"] = @Model.Name;
}

<div class="flex-grow-1 search-bar">
    <form method="get" asp-controller="SearchBlogPosts" asp-action="Index">

        <div style="position:relative;" class="position-relative">

            <input id="blogPostsSearchBar" type="text" placeholder="Search in blog posts" name="searchString" />

            <button class="text-center position-absolute btn btn-sm btn-success" type="submit">Search</button>

        </div>
    </form>
</div>

<h1 class="fw-bolder mb-1 text-center">Welcome to @Model.Name Posts!</h1>
@foreach (var post in Model.Posts)
{
    <div class="container mt-5">
        <div class="row">
            <div class="col-lg-8">
                <article>
                    <header class="mb-4">
                        <div class="text-muted fst-italic mb-2"><i class="fas fa-calendar-alt"></i> Added on <time datetime="@post.CreatedOn.ToString("O")"></time> </div>
                        <div class="text-muted fst-italic mb-2"><i class="fas fa-user-edit"></i> Added by: @post.UserUserName</div>
                        <a class="badge bg-secondary text-decoration-none link-light" asp-controller="Posts" asp-action="ById" asp-route-id="@post.Id">@post.Title</a>
                    </header>
                    <section class="mb-5">
                        <p class="fs-5 mb-4">@post.ShortContent</p>
                    </section>
                </article>
            </div>
            <div><i class="fa-regular fa-comment-dots"></i>@post.CommentsCount</div>
        </div>
    </div>
}

